
body{

font-family:
Arial,
sans-serif;

background:#050816;

color:white;

margin:0;

text-align:center;

}


header{

padding:80px 20px;

background:
linear-gradient(135deg,#111827,#2563eb);

}


h1{

font-size:55px;

}


a{

display:inline-block;

padding:15px 30px;

background:white;

color:#111;

border-radius:10px;

text-decoration:none;

}


section{

padding:40px;

}


.cards{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}


.cards div{

background:#111827;

padding:25px;

border-radius:15px;

width:250px;

}


footer{

padding:30px;

opacity:.7;

}

